@tailwind base;
@tailwind components;
@tailwind utilities;


progress::-webkit-progress-value {
    background: rgb(255,189,57);
    border-radius: 10px;
  }


  progress::-webkit-progress-bar{
    border-radius: 10px;
    height: 10px;
    
  }

  .box:hover{
    background-color:rgb(234,179,8);
    color: black;

  }

  .box:hover .icon{
    color: white;
  }